
@media (min-width:1201px){
	.homeImageMob{
		display: none;
	}
	.header:before{
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 115px;
	}
	.glitch {
		font-family: 'Limelight', cursive;
		color: #44d1a5;
		font-size: 80px;
		font-weight: 600;
		width: 100%;
		margin: 25px 0px 10px 0px;
	 }
	.containerService{
		max-width: 1180px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.containerOfSites {
		max-width: 100%;
		margin: 17px auto;
	}
	.containerOfSites img {
		border-radius: 20px;
	}
	.buttonContact{
		margin-top: 10px;
	}
	#h2Service{
		margin: 15px auto;
		}
	.flexService{
		margin: 15px;
		width: 30%;
		}

		.flexService h3{
			padding-bottom: 10px;
			}
			.flexFooter2{
				margin: 10px 70px 2px 70px;
				width: 35%;		
	}
	.sectionContact {
		margin: 20px auto 35px;
	  }
	  .containerContact {
		padding: 45px 0px;
		
  }
  .containerContact p {
	font-size: 24px;
	margin: 0;
}
	.footer{
		margin: 15px auto;
		padding-left: 200px;
		}
		.flexFooter2 img{
			margin-top: 7px;
	}
}

@media (max-width:1200px){
	.homeImageMob{
		display: none;
	}
	.header:before{
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 115px;
	}
	.header__list{
	transform: translate(-100px, 0px);
	 }	
	.glitch {
		font-family: 'Limelight', cursive;
		color: #44d1a5;
		font-size: 75px;
		font-weight: 600;
		width: 100%;
		margin: 25px 0px 10px 0px;
	 }

	.containerService{
		max-width: none;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.containerOfSites {
		max-width: 100%;
		margin: 17px auto;
	}
	.containerOfSites img {
		border-radius: 20px;
	}
	.buttonContact{
		margin-top: 10px;
	}
	.flexService{
		margin: 15px;
		width: 30%;
		}
		.flexService h3{
			padding-bottom: 10px;
			}
			.flexFooter2{
				margin: 10px 70px 2px 70px;
				width: 35%;
	}		
	.sectionContact {
		margin: 20px auto 35px;
	  }
	  .containerContact {
		padding: 45px 0px;
  }
  .containerContact p {
	font-size: 24px;
	margin: 0;
}
#h2Service{
	margin: 15px auto;
	}
.footer{
	margin: 15px auto;
	padding-left: 150px;
	}
	.flexFooter2 img{
		margin-top: 7px;
}
}

@media (max-width:1000px){
.box {
	display: none;
}
}

@media (max-width:992px){
	.sectionMobImg{
		margin-bottom: 8px;
	}
	.homeImageMob{
		display: flex;
	}
	.homeImageMob img{
		box-shadow: none;
		width: 100%;
		height: 100%;
		-webkit-animation: jello-horizontal 0.9s both;
		animation: jello-horizontal 0.9s both;
	}
	@-webkit-keyframes jello-horizontal {
		0% {
		  -webkit-transform: scale3d(1, 1, 1);
					 transform: scale3d(1, 1, 1);
		}
		30% {
		  -webkit-transform: scale3d(1.25, 0.75, 1);
					 transform: scale3d(1.25, 0.75, 1);
		}
		40% {
		  -webkit-transform: scale3d(0.75, 1.25, 1);
					 transform: scale3d(0.75, 1.25, 1);
		}
		50% {
		  -webkit-transform: scale3d(1.15, 0.85, 1);
					 transform: scale3d(1.15, 0.85, 1);
		}
		65% {
		  -webkit-transform: scale3d(0.95, 1.05, 1);
					 transform: scale3d(0.95, 1.05, 1);
		}
		75% {
		  -webkit-transform: scale3d(1.05, 0.95, 1);
					 transform: scale3d(1.05, 0.95, 1);
		}
		100% {
		  -webkit-transform: scale3d(1, 1, 1);
					 transform: scale3d(1, 1, 1);
		}
	 }
	 @keyframes jello-horizontal {
		0% {
		  -webkit-transform: scale3d(1, 1, 1);
					 transform: scale3d(1, 1, 1);
		}
		30% {
		  -webkit-transform: scale3d(1.25, 0.75, 1);
					 transform: scale3d(1.25, 0.75, 1);
		}
		40% {
		  -webkit-transform: scale3d(0.75, 1.25, 1);
					 transform: scale3d(0.75, 1.25, 1);
		}
		50% {
		  -webkit-transform: scale3d(1.15, 0.85, 1);
					 transform: scale3d(1.15, 0.85, 1);
		}
		65% {
		  -webkit-transform: scale3d(0.95, 1.05, 1);
					 transform: scale3d(0.95, 1.05, 1);
		}
		75% {
		  -webkit-transform: scale3d(1.05, 0.95, 1);
					 transform: scale3d(1.05, 0.95, 1);
		}
		100% {
		  -webkit-transform: scale3d(1, 1, 1);
					 transform: scale3d(1, 1, 1);
		}
	 }
	 
	 
	.header:before{
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 115px;
	}
	.header__list{
		transform: translate(-100px, 0px);
	}
	.glitch {
		font-family: 'Limelight', cursive;
		color: #44d1a5;
		font-size: 70px;
		font-weight: 600;
		width: 90%;
		margin: 25px 0px 10px 80px;
	 }

	.box {
		display: none;
	}
	.containerService{
		max-width: none;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.containerOfSites{
		max-width: 80%;
		margin: 15px auto;
	}
	.buttonContact{
		margin-top: 0px;
	}
	.flexService{
		margin: 15px;
		width: 40%;
		}
		#h2Service{
			margin: 10px auto;
			}

	.flexService h3{
			padding-bottom: 10px;
	}

	.flexFooter2{
		margin: 10px 70px 2px 70px;
		width: 35%;
	}

	.sectionContact {
		margin: 10px auto 0px;
	  }

	.containerContact {
		padding: 25px 0px 25px 0px;
  }
	.footer{
		padding-left: 50px;
		margin: 5px auto;
		}
		.flexFooter2 img{
			margin-top: 5px;
	}
	
}


@media (max-width:767px){
	.header__list{
		transform: translate(0px, 0px);
	}
	
	 .header:before{
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.containerOfSites{
		max-width: 95%;
		margin: 10px auto;
	}
	.containerOfSites img {
		border-radius: 10px;
	}

	.glitch {
		font-family: 'Limelight', cursive;
		color: #44d1a5;
		font-size: 60px;
		font-weight: 500;
		width: 100%;
		margin: 0px 0px 10px 10px;
	 }

	.box {
		display: none;
	}

	.containerService{
		max-width: none;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 2px;
	}

	.flexService{
		margin: 15px;
		width: 45%;
	}

	.flexService h3{
		padding-bottom: 5px;
	}

	#h2Service{
		margin-top: -10px;
		}
		.flexFooter2{
			margin: 10px 70px 2px 70px;
			width: 35%;
	}
	.sectionContact {
		margin: 10px auto 0px;
	  }
	  .containerContact p {
		font-size: 22px;
	}

	.footer{
		padding-left: 0px;
		margin: 5px auto;
	}
}



/*****************************************************/
/**** ДОПОЛНИТЕЛЬНЫЙ BREAKPOINT*****/
@media (max-width:623px){
	.glitch {
		font-family: 'Limelight', cursive;
		color: #44d1a5;
		font-size: 50px;
		font-weight: 500;
		width: 100%;
		margin: 0px 0px 10px 10px;
	 }
	.box {
		display: none;
	}
	.containerService{
		max-width: none;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 2px;
	}
	.containerOfSites{
		max-width: 95%;
		margin: 8px auto;
	}
	.flexService{
		margin: 15px 5px;
		width: 100%;
		font-size: 14px;
		}
	.flexService h3{
		padding-bottom: 3px;
		}

	.flexFooter1{
	display: none;
 }

 .flexFooter2{
	margin: 10px 0px 2px 20px;
	width: 35%;
}
.sectionContact {
	margin: 10px auto 0px;
  }
  
  .containerContact {
	padding: 25px 10px 25px 10px;
	
}
.containerContact p {
	font-size: 20px;
}

.footer{
	margin: 5px auto;
	margin-left: 10px;
	padding-left: 0px;
	}

	
	#h2Service{
		margin-top: -10px;
		font-size: 18px;
		}
}
/****************************************************/

@media (max-width:420px){
	.glitch {
		font-family: 'Limelight', cursive;
		color: #44d1a5;
		font-size: 40px;
		font-weight: 500;
		width: 100%;
		margin: 0px 0px 10px 7px;
	 }

	.box {
		display: none;
	}
	.containerService{
		max-width: none;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 1px;
	}
	.containerOfSites{
		max-width: 95%;
		margin: 7px auto;
	}
	.flexService{
		margin: 10px 5px;
		width: 100%;
		font-size: 13px;
		}
	.flexService h3{
		padding-bottom: 3px;
		}

		.flexFooter1{
			display: none;
		}

		.flexFooter2{
			margin: 10px 10px 2px 50px;
			width: 50%;
		}
		.sectionContact {
			margin: 10px auto 0px;
		  }
		.containerContact {
			padding: 25px 10px 25px 10px;
		}
		.containerContact p {
			font-size: 18px;
		}
		.footer{
			margin-left: 0;
			}
}

@media (max-width:308px){
	.sectionMob{
		display: none;
	}
	.containerOfSites{
		max-width: 95%;
		margin: 6px auto;
	}
	.sectionContact {
	margin: 10px auto 0px;
  }
	footer
	{
		display: none;
	}
}